{% extends 'base.html' %}

{%  block content %}
    <h2>Insert parameters</h2>
    <p>Please choose operation:</p>
    <p>Note: Please insert one element list for single argument methods like round, ceil. Only list of arguments is accepted.</p>
    <form method="post" action="/operate">
        {% if form.errors %}

        {% endif %}
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="params">
    </form>
    {% if out %}
        <h4>Result:</h4>
        <p> {{ out }} </p>
    {% endif %}
    {% if error %}
        <h4 style="color: red">Error: {{ error }}</h4>
    {% endif %}
{%  endblock %}